.cell {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cell_number {
    font-size: 100px;
    text-align: center;
}

.cell_subtitle {
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
}
